.navbarContainer{
    display: flex;
    width:80%;
    margin:1rem auto;
}

.logo{
    width:5rem
}

.navbar{
    display: flex;
    justify-content: space-around;
    flex:1
}

.navLink{
    color:#C93408;
    text-decoration: none;
}

.navbarContainer button {
    width:7rem;
    height:2rem;
}